/*
--background-color: white;
--background-color2: #EEE;

--content-color: black;
--content-color2: white;
--link-color: rgb(79, 118, 169);

--color1: rgba(255, 119, 7, 1.0);
--color2:  rgb(139, 119, 7);
--color3: rgba(160, 170, 143, 1.0);
--color4: rgba(176, 196, 222, 1.0);

--tab-color: rgba(7, 74, 138, 0.5);
--active-tab-color: rgba(7, 74, 138, 0.8);
*/

body {
    background-color: var(--background-color) !important;
    color: var(--content-color);
}

.button.full {
    border-radius: 6px !important;
}

.page_block {
    width: 100% !important;
    padding: 0px !important;
    background-color: var(--background-color) !important;
}

#aspnetForm > .page_block:nth-child(5) {
    padding: 10px !important;
    padding-right: 50px !important;
}

section.contact > h1 {
    border-radius: 5px !important;
}

.copyright {
    position: sticky;
    bottom: 0px;
    border: none !important;
    color: var(--content-color2) !important;
    background-color: var(--color3) !important;
}

.Grid {
    border: rgba(0, 0, 0, 0.1) solid 1px;
    background-color: var(--background-color) !important;
}

.GridAlt {
    background-color: var(--background-color2) !important;
}

.tabs-nav > li:first-child {
    border-radius: 10px 0px 0px 10px !important;
}

.tabs-nav > li:last-child {
    border-radius: 0px 10px 10px 0px !important;
}

div > a:not(.button):not(.headerBar-title), div > a:not(.button):not(.headerBar-title):visited {
    color: var(--link-color) !important;
    opacity: 0.75 !important;
    transition: opacity 0.5s;

    &:hover {
        opacity: 1 !important;
    }
}

.headerBar-title {
    font-weight: bold;
}

.headerBar {
    color: var(--content-color2) !important;
}

#ctl00_ContentBody_lblDemoName {
    font-weight: bold;
}

#ctl00_ContentBody_lblAccountBalance {
    opacity: 0.125;
    transition: opacity 0.5s;
}

#ctl00_ContentBody_lblAccountBalance:hover {
    opacity: 1;
}

#contact-details a {
    background-color: rgb(187, 62, 62);
    padding: 10px;
    border-radius: 7px;
    color: var(--content-color2);
    text-decoration: none;
    transform: scale(1);
    transition: 0.25s;

    &:hover {
        background-color: rgb(214, 64, 64);
        transform: scale(1.05);
    }
}

.button.orange {
    background-color: var(--color1) !important;
}

.page-header {
    background-color: var(--color1) !important;
}

.button.color {
    background-color: var(--color2) !important;
}

.tabs-nav > li > a {
    background-color: var(--tab-color) !important;
}

.tabs-nav > li.active > a {
    background-color: var(--active-tab-color) !important;
}

.GridHead TH {
    background-color: var(--color4) !important;
}

/* Content colors */

section.contact > h1, .twelve.columns, .contact {
    color: var(--content-color) !important;
}

section.contact > h1 {
    background-color: rgb(0, 0, 0, 0.25) !important;
}

.h2 {
    color: var(--content-color) !important;
}

.tabs-nav li a {
    border-right: 0px !important;
    border-bottom: 0px !important;
}

.linkButton {
    background-color: var(--background-color2) !important;
    text-align: center;
    color: var(--content-color) !important;
    padding: 5px !important;
    border-radius: 7px;
    width: 100% !important;
}

p, label:not(#ctl00_ContentBody_lblAccountBalance), h1, h2, h3, h4, h5 {
    color: var(--content-color) !important;
}

section.contact div.article div > span {
    color: var(--color2) !important;
}

/* Civics page */

.points {
    color: var(--content-color);
}

.quiz {
    background-color: var(--background-color2) !important;
    color: var(--content-color);
    border-radius: 10px;
}

.page_block:nth-child(10) {
    padding: 15px !important;
}

#ctl00_ContentBody_divTestContainer > .button {
    border-radius: 7px !important;
}

/* Misc */
#ctl00_ContentBody_epmTrue {
    color: var(--content-color) !important;
}